<div class="container py-10 mx-auto px-4 lg:max-w-175">
  <div class="items-center max-w-7xl mx-auto">
    <div class="w-full">
      <div class="bg-white rounded-2xl border border-gray-300 shadow-xl p-8 lg:p-12">
        <div class="text-center mb-8">
          <div class="flex items-center justify-center mb-4">
            <span class="text-3xl font-bold text-green-600"
              >Fresh<span class="text-gray-800">Cart</span></span
            >
          </div>
          <h1 class="text-3xl font-bold text-gray-800 mb-2">Welcome Back!</h1>
          <p class="text-gray-600">Sign in to continue your fresh shopping experience</p>
        </div>
        <div class="space-y-3 mb-6">
          <button
            type="button"
            class="w-full flex items-center justify-center gap-3 py-3 px-4 border-2 border-gray-200 rounded-xl hover:border-green-300 hover:bg-green-50 transition-all duration-200"
          >
            <i class="fa-brands fa-google me-2 text-red-600"></i
            ><span class="font-medium text-sm sm:text-xl text-gray-700"
              >Continue with Google</span
            ></button
          ><button
            type="button"
            class="w-full flex items-center justify-center gap-3 py-3 px-4 border-2 border-gray-200 rounded-xl hover:border-green-300 hover:bg-green-50 transition-all duration-200"
          >
            <i class="fa-brands fa-facebook me-2 text-blue-600"></i
            ><span class="font-medium text-sm sm:text-xl text-gray-700"
              >Continue with Facebook</span
            >
          </button>
        </div>
        <div class="relative my-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-4 bg-white text-gray-500 font-medium">OR CONTINUE WITH EMAIL</span>
          </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-7">
          <div class="flex flex-col gap-2">
            <label for="email">Email*</label
            ><input
              id="email"
              class="border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 placeholder:text-sm"
              placeholder="ali@example.com"
              autocomplete="email"
              aria-invalid="false"
              type="email"
              name="email"
              formControlName="email"
            />
          </div>
          @if (emailController?.touched && emailController?.errors) {
            @if (emailController?.hasError('required')) {
              <div
                class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                role="alert"
              >
                <svg
                  class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <p>Email is required.</p>
              </div>
            }
            @if (emailController?.hasError('email')) {
              <div
                class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                role="alert"
              >
                <svg
                  class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <p>Enter a valid email.</p>
              </div>
            }
          }

          <div class="flex flex-col gap-2 relative">
            <label for="password">Password*</label
            ><input
              id="password"
              class="border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 placeholder:text-sm"
              placeholder="create a strong password"
              autocomplete="new-password"
              aria-invalid="false"
              [type]="showPassword() ? 'text' : 'password'"
              name="password"
              formControlName="password"
            />
            <i
              (click)="togglePass()"
              [class]="showPassword() ? 'fa-eye-slash' : 'fa-eye'"
              class="fa-solid text-gray-500 hover:text-gray-700 text-sm absolute top-10/16 right-2"
            ></i>
          </div>

          @if (passwordController?.touched && passwordController?.errors) {
            @if (passwordController?.hasError('required')) {
              <div
                class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                role="alert"
              >
                <svg
                  class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <p>Password is required.</p>
              </div>
            }
            @if (passwordController?.hasError('pattern')) {
              <p [class.text-success]="hasLowerCase()" [class.text-danger]="!hasLowerCase()">
                <i [class]="hasLowerCase() ? 'fa-check' : 'fa-xmark'" class="fa-solid"></i> One
                lowercase letter
              </p>

              <p [class.text-success]="hasUpperCase()" [class.text-danger]="!hasUpperCase()">
                <i class="fa-solid" [class]="hasUpperCase() ? 'fa-check' : 'fa-xmark'"></i> One
                uppercase letter
              </p>

              <p [class.text-success]="hasNumber()" [class.text-danger]="!hasNumber()">
                <i class="fa-solid" [class]="hasNumber() ? 'fa-check' : 'fa-xmark'"></i> One number
              </p>

              <p [class.text-success]="hasSpecialChar()" [class.text-danger]="!hasSpecialChar()">
                <i class="fa-solid" [class]="hasSpecialChar() ? 'fa-check' : 'fa-xmark'"></i> One
                special character
              </p>

              <p
                [class.text-success]="passwordController?.value?.length >= 8"
                [class.text-danger]="passwordController?.value?.length < 8"
              >
                <i
                  class="fa-solid"
                  [class]="passwordController?.value?.length >= 8 ? 'fa-check' : 'fa-xmark'"
                ></i>
                At least 8 characters
              </p>
            }
          }

          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="py-3 rounded-md bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:cursor-not-allowed w-full transition-colors"
            aria-busy="false"
          >
            <i class="fa-solid fa-user-plus me-2"> </i>
            <span>Sign In</span>
          </button>
          <div
            [class]="loginForm.valid ? 'hidden' : 'flex'"
            class="items-start sm:items-center p-4 mb-4 text-sm text-fg-warning rounded-base bg-warning-soft"
            role="alert"
          >
            <svg
              class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <p><span class="font-medium me-1">Please!</span> Fill in the fields above correctly.</p>
          </div>
        </form>
        <div class="text-center mt-8 pt-6 border-t border-gray-100">
          <p class="text-gray-600">
            New to FreshCart?<a
              class="text-green-600 hover:text-green-700 ms-2 font-semibold cursor-pointer"
              routerLink="/register"
              >Create an account</a
            >
          </p>
          <p class="text-gray-600">
            Reset Your Password?<a
              class="text-green-600 hover:text-green-700 ms-2 font-semibold cursor-pointer"
              routerLink="/forget-password"
              >Forgot Password</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
