<div class="container mx-auto px-4 my-8">
  <app-shared-title
    [class.hidden]="isLoading()"
    title="Like"
    content="You May Also"
  ></app-shared-title>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4 h-115 overflow-y-auto scrollbar-hide"
  >
    @for (product of products(); track product._id) {
      <app-product-card
        [isFav]="wishlistIds().includes(product._id)"
        [product]="product"
        (changedToFav)="handelChange($event)"
      ></app-product-card>
    }
  </div>
  <app-content-loader [class.hidden]="!isLoading()"></app-content-loader>
  <app-empty-items [class.hidden]="!emptyProducts()" data="Products"></app-empty-items>
</div>
