<div
  id="product-card"
  class="bg-white border border-gray-300 rounded-lg overflow-hidden hover:-translate-y-2 h-104"
  style="
    box-shadow:
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    transform: none;
  "
>
  <div class="relative">
    <img
      class="w-full h-60 object-contain bg-white"
      alt="Woman Shawl"
      [src]="product().imageCover"
    />
    <div [class]="product().priceAfterDiscount ? '' : 'hidden'" class="absolute top-3 left-3">
      <span class="bg-red-500 text-white text-xs px-2 py-1 rounded">
        {{ product().price | productDiscount: product().priceAfterDiscount }}
      </span>
    </div>
    <div class="absolute top-3 right-3 flex flex-col space-y-2">
      <button
        class="bg-white h-8 w-8 rounded-full flex items-center justify-center transition shadow-sm text-gray-600 hover:text-red-500"
        title="Add to wishlist"
        tabindex="0"
      >
        <i class="fa-regular fa-heart"></i></button
      ><button
        class="bg-white h-8 w-8 rounded-full flex items-center justify-center text-gray-600 hover:text-green-600 shadow-sm"
      >
        <i class="fa-solid fa-arrows-rotate"></i></button
      ><a
        class="bg-white h-8 w-8 rounded-full flex items-center justify-center text-gray-600 hover:text-green-600 shadow-sm"
        [routerLink]="`/products/${product()._id}`"
      >
        <i class="fa-solid fa-eye"></i>
      </a>
    </div>
  </div>
  <div class="p-4">
    <div class="text-xs text-gray-500 mb-1">{{ product().category.name }}</div>
    <h3 class="font-medium mb-1 cursor-pointer" [title]="product().title">
      <a class="line-clamp-2" routerLink="/products/6428ebc6dc1175abc65ca0b9">{{
        product().title
      }}</a>
    </h3>
    <div class="flex items-center mb-2">
      <div class="flex text-amber-400 mr-2">
        <div class="text-yellow-400">
          @for (starsArr of starsArr(); track $index) {
            <i [class]="starsArr"></i>
          }
        </div>
      </div>
      <span class="text-xs text-gray-500"
        >{{ product().ratingsAverage }} ({{ product().ratingsQuantity }})</span
      >
    </div>
    <div class="flex items-center justify-between">
      <div>
        @if (product().priceAfterDiscount) {
          <span
            [class]="product().priceAfterDiscount ? '' : 'hidden'"
            class="text-md font-bold text-green-500 me-2"
            >{{ product().priceAfterDiscount | currency: 'EGP' }}</span
          >
          <span
            [class]="product().priceAfterDiscount ? 'line-through' : ''"
            class="text-sm font-normal text-gray-400"
            >{{ product().price | currency: 'EGP' }}</span
          >
        } @else {
          <span class="text-md font-bold text-gray-800">{{
            product().price | currency: 'EGP'
          }}</span>
        }
      </div>
      <button
        (click)="addProductToUserCart(product()._id)"
        class="h-10 w-10 rounded-full flex items-center justify-center transition bg-green-600 text-white hover:bg-green-700 disabled:opacity-70"
        tabindex="0"
      >
        <i [class]="isloading() ? 'fa-spin fa-spinner' : 'fa-plus'" class="fa-solid"></i>
      </button>
    </div>
  </div>
</div>
