<div class="container mx-auto px-4 py-10 sm:py-14">
  <div [class.hidden]="isLoading()" class="mb-6 text-sm text-gray-500">
    Showing {{ data().length }} products
  </div>

  <div class="my-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6">
    @for (item of data(); track $index) {
      <app-product-card
        [product]="item"
        (changedToFav)="handelChange($event)"
        [isFav]="wishlistIds().includes(item._id)"
      ></app-product-card>
    }
  </div>
  <app-empty-items [class.hidden]="!emptyData()" data="Products"></app-empty-items>
  <app-internet-connection [class.hidden]="!offline()"></app-internet-connection>
</div>
